#submitButton {
    text-align: center;
    position: relative;
    left: 45%;
    margin-bottom: 2%;
}


hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(245, 240, 240, 0.685);
}

#endScreenHr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(11, 11, 122, 0.562);
}

#startButton {
    height: 80px;
    width: 80px;
    border-radius: 50px;
    /* If enough time, consider moving image below to HTML */
    background-image: url('../images/pokeball.png');
    background-size: contain;
    background-position: center;
    border: none;
    /* Couldn't find out how to get rid of default button styling */
}

.playScreen {
    color: white;
    text-shadow: 3px 3px 4px #000103;
    font-weight: 600;
    font-size: 20px;
    z-index: 1;
    background-color: rgba(11, 11, 122, 0.562);
    letter-spacing: 1px;
    padding-left: 2%;
    padding-top: 2%;
    box-shadow: 0px 0px 18px 5px red;
}

.startScreen, .bannerScreen, .endScreen {
    text-align: center;
    position: relative;
    color: white;
    text-shadow: -1px -1px 0 crimson, -1px -1px 0 crimson, -1px -1px 0 crimson;
    letter-spacing: 2px;
    margin-top: 20%;
}

h1 {
    text-align: center;
    font-family: 'Sedgwick Ave', cursive, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial;
    font-weight: bold;
    font-size: 45px;
    text-shadow: 3px 5px 20px #071c61;
    color: yellow;
}

body {
    background-image: url('../images/background-2.png');
    background-size: cover;
    overflow: scroll;
    margin-left: 3%;
    margin-right: 3%;
    font-family: 'Oregano', cursive, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial;
}